<div ng-controller="AnalyticsCtrl">  
      <h1 id="" class="page-header text-center">Dashboard</h1>

            <h2 class="sub-header">Section title</h2>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Header</th>
                    <th>Header</th>  
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="data in statData">
                    <td>{{data.split(",")[0]}}</td>
                    <td>{{data.split(",")[1]}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
</div>
